// @import 'variables-bootstrap.scss';


// Bootstrap imports
// @import '@bootstrap-icons';
@import '@bootstrap-scss';

// @import 'variables-app.scss';


body {
  border-top: 3.5rem solid gray;
  background: black;
  color: white;
}